.BitList {
  display: flex;
  flex-flow: column wrap;
  margin-top: 1rem;
}

.Bit {
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: default;
}

.Bit:hover {
  background: rgba(255, 255, 255, 0.1);
}

.BitName {
  font-weight: bold;
  margin: 0.5rem;
}

.BitContent {
  font-weight: normal;
  margin: 0.5rem;
}

.BitTags {
  margin: 0.5rem;
  font-size: 0.9rem;
  font-family: monospace;
  border: 1px solid white;
  padding: 0 2px;
  border-radius: 3px;
}

.BitDelete {
  display: inline;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  background: none;
  margin: 0;
  color: white;
  border: none;
}

.BitDelete:hover {
  color: #de3d3d;
  background: rgba(255, 255, 255, 0.1);
}
